.gallery {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  h2 {
    color: whitesmoke;
    padding: 30px;
  }

  img {
    height: 210px;
    border: 3px solid rgba(95, 95, 95, 0);
    transition: 0.5s;
    cursor: pointer;
  }

  img:hover {
    height: 222px;
    filter: saturate(160%);
    transition: 0.5s;
  }
}

